.App {  
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  justify-content: end;
}

a {
  color: white; /* Change text color */
  text-decoration: none; /* Add underline */
}

a:hover {
  color: gray; /* Change color on hover */
  text-decoration: none; /* Remove underline on hover */
}